/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-image: url("https://props-dev.coz.io/images/backgrounds/background-pattern.png");
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.features{
  margin: 100px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
